{% extends 'registration/base.html' %}
{% load static %}
{% block title %}Password Change{% endblock %}
{% block body %}
<div class="form-signin">
        <div class="card">
            <form method="post" action="{% url 'password_change' %}" class="card-body">
                <img src="{% static 'ngo/img/core-img/pluv2.png' %}" alt="" class="my-4" width="100px">
                <h4>Password Change</h4>
                <p>Please enter your old password, and new password twice for verification.</p>
                {% csrf_token %}
            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {% for key, value in form.errors.items %}
                    <p{% if forloop.last %} class="mb-0"{% endif %}>{{ value }}</p>
                {% endfor %}
            </div>
            {% endif %}
            <div class="text-left">
            <!-- First row -->
            <div class="row">
                <!-- First column -->
                <div class="col-md-12">
                <div class="form-label-group">
                    <input type="password" id="id_old_password" name="old_password" class="form-control validate" placeholder="Old password" required>
                    <label for="id_old_password" class="">Old password</label>
                </div>
                </div>
                <!-- First column -->

                <!-- First column -->
                <div class="col-md-12">
                <div class="form-label-group">
                    <input type="password" id="id_new_password1" name="new_password1" class="form-control validate" placeholder="New password" required>
                    <label for="id_new_password1" class="">New password</label>
                    {% comment %} {{form.new_password1.help_text}} {% endcomment %}
                </div>
                </div>
                <!-- First column -->

                <div class="col-md-12">
                <div class="form-label-group">
                    <input type="password" id="id_new_password2" name="new_password2" class="form-control validate" placeholder="Confirm password" required>
                    <label for="id_new_password2" data-error="wrong" data-success="right" class="">Confirm password</label>
                </div>
                </div>
            </div>
            <!-- First row -->
            <div class="col-12"><a href="{% url 'password_reset' %}" class="">Lost password?</a></div>

            <!-- Second row -->
            <div class="row">
                <div class="col-md-12 text-center my-4">
                <span class=""><input type="submit" value="Change My Password" class="crose-btn btn btn-block"></span>
                </div>
            </div>
            <!-- Second row -->
            </div>
            
            </form>
        </div>  
</div>
{% endblock %}