{% extends 'registration/base.html' %}
{% load static %}
{% block title %}Reset Your Password{% endblock %}
{% block body %}
<div class="form-signin">
        <div class="card">
            <div class="card-body">
                <img src="{% static 'ngo/img/core-img/logo.png' %}" alt="" class="my-4">

            <div class="text-left">
            <!-- First row -->
            <div class="row">
        
                <!-- First column -->
                <div class="col-md-12">
                <p>Check your email for a link to reset your password. If it doesn't appear within a few minutes, 
                    check your spam folder.
                </p>
                </div>
                <!-- First column -->
            </div>
            <!-- First row -->

            <!-- Second row -->
            <div class="row">
                <div class="col-md-12 text-center my-4">
                <span class=""><a href="{% url 'login' %}" class="crose-btn btn btn-block">Return to Login Page</a></span>
                </div>
            </div>
            <!-- Second row -->
            </div>
            
            </div>
        </div>  
</div>
{% endblock %}