{% extends 'registration/base.html' %}
{% load static %}
{% block title %}Enter new Password{% endblock %}
{% block body %}
<div class="form-signin">
        <div class="card">
            {% if validlink %}
            <form method="post" action="{% url 'password_reset' %}" class="card-body">
                <img src="{% static 'ngo/img/core-img/logo.png' %}" alt="" class="my-4">
                <h4>Enter new Password</h4>
                <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
            <div class="text-left">
            <!-- First row -->
            <div class="row">
        
                <!-- First column -->
                <div class="col-md-12">
                <div class="form-label-group">
                    <input type="password" id="id_new_password1" name="new_password1" class="form-control validate" placeholder="New password" required>
                    <label for="id_new_password1" class="">New password</label>
                </div>
                </div>
                <!-- First column -->

                <div class="col-md-12">
                <div class="form-label-group">
                    <input type="password" id="id_new_password2" name="new_password2" class="form-control validate" placeholder="Confirm password" required>
                    <label for="id_new_password2" data-error="wrong" data-success="right" class="">Confirm password</label>
                </div>
                </div>
            </div>
            <!-- First row -->

            <!-- Second row -->
            <div class="row">
                <div class="col-md-12 text-center my-4">
                <span class=""><input type="submit" value="Change My Password" class="crose-btn btn btn-block"></span>
                </div>
            </div>
            <!-- Second row -->
            </div>
            
            </form>
            {% else %}
            <div class="card-body">
                <h4 class="card-title">Reset your password</h4>
                <div class="alert alert-danger" role="alert">
                It looks like you clicked on an invalid password reset link. Please try again.
                </div>
                <span><a href="{% url 'login' %}" class="btn crose-btn btn-block">Return to log in</a></span>
            </div>
            {% endif %}
        </div>  
</div>
{% endblock %}