{% extends 'registration/base.html' %}
{% load static %}
{% block title %}Enter new Password{% endblock %}
{% block body %}
<div class="form-signin">
        <div class="card">
            <div class="card-body">
                <img src="{% static 'ngo/img/core-img/pluv2.png' %}" alt="" class="my-4" width="100px">
                <h4>Password Reset</h4>
            <div class="text-left">
            <!-- First row -->
            <div class="row">
                <!-- Second row -->
                <div class="row">
                    <div class="col-md-12 text-center my-4 px-4">
                   <div class="alert alert-success" role="alert">
                        You have successfully changed your password! You may now proceed to log in.
                    </div>
                    </div>
                </div>
                <!-- Second row -->
                                
                <!-- Second row -->
                <div class="row">
                    <div class="col-md-12 text-center my-4 px-5">
                    <span><a href="{% url 'login' %}" class="crose-btn btn-block ml-3">Return to log in</a></span>
                    </div>
                </div>
                <!-- Second row -->
            </div>
            <!--First row-->
            
            </div>
        </div>  
</div>
{% endblock %}