{% extends 'registration/base.html' %}
{% load static %}
{% block title %}Enter new Password{% endblock %}
{% block body %}
<div class="form-signin">
        <div class="card">
            <div class="card-body">
                <img src="{% static 'ngo/img/core-img/logo.png' %}" alt="" class="my-4">
                <h4>Password Reset</h4>
            <div class="text-left">
            <!-- First row -->
            <div class="row">
                <!-- Second row -->
                <div class="row">
                    <div class="col-md-12 text-center my-4">
                   <div class="alert alert-success" role="alert">
                        <strong>Success!</strong> Your password has been changed!
                    </div>
                    </div>
                </div>
                <!-- Second row -->
                                
                <!-- Second row -->
                <div class="row">
                    <div class="col-md-12 text-center my-4">
                    <span><a href="{% url 'ngo:index' %}" class="btn crose-btn btn-block">Return to Home Page</a></span>
                    </div>
                </div>
                <!-- Second row -->
            </div>
            <!--First row-->
            
            </div>
        </div>  
</div>
{% endblock %}